# accounts/forms.py
from django import forms
from .models import UserProfile
from materials.models import University  # ইউনিভার্সিটি ড্রপডাউনের জন্য

class ProfileForm(forms.ModelForm):
    class Meta:
        model = UserProfile
        fields = ["avatar", "bio", "university", "department"]
        widgets = {
            "bio": forms.Textarea(attrs={
                "rows": 3,
                "placeholder": "Say something about yourself…",
                "class": "w-full rounded-md border border-gray-300 px-3 py-2"
            }),
            "department": forms.TextInput(attrs={
                "placeholder": "e.g., CSE",
                "class": "w-full rounded-md border border-gray-300 px-3 py-2"
            }),
            "university": forms.Select(attrs={
                "class": "w-full rounded-md border border-gray-300 px-3 py-2"
            }),
        }

    avatar = forms.ImageField(required=False)
