# accounts/forms.py
from django import forms
from .models import UserProfile

class ProfileForm(forms.ModelForm):
    avatar = forms.ImageField(
        required=False,
        widget=forms.FileInput(attrs={
            "class": "hidden",
            "accept": "image/*"
        })
    )

    class Meta:
        model = UserProfile
        fields = ["avatar", "university", "department", "subject", "bio"]
        widgets = {
            "university": forms.TextInput(attrs={
                "class": "w-full border rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition",
                "placeholder": "Enter your university"
            }),
            "department": forms.TextInput(attrs={
                "class": "w-full border rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition",
                "placeholder": "Enter your department"
            }),
            "subject": forms.TextInput(attrs={
                "class": "w-full border rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition",
                "placeholder": "What do you study? (e.g. ML, AI, Networking)"
            }),
            "bio": forms.Textarea(attrs={
                "rows": 4,
                "class": "w-full border rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition",
                "placeholder": "Write something about yourself..."
            }),
        }

